<!doctype html>
<html lang="en">
  <head>
    <title>JKanban</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/res/style.css">
    <link href="https://unpkg.com/picnic" rel="stylesheet">
    <link rel="stylesheet" href="/res/growl.css">
    <link rel="stylesheet" href="/res/jkanban.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/res/growl.js"></script>
    <script src="/res/autosize.min.js"></script>
    <script src="/res/jkanban.js"></script>
    <script src="/res/kanban.js"></script>
  </head>
  <body>
    {{{yield}}}
  </body>
</html>
