<!doctype html>
<html lang="en">
  <head>
    <title>JKanban</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/res/style.css">
    <link href="https://unpkg.com/picnic" rel="stylesheet">
    <link rel="stylesheet" href="/res/growl.css">
    <link rel="stylesheet" href="/res/jkanban.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/res/growl.js"></script>
    <script src="/res/autosize.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
  </head>
  <body>
    {{#if accountID}}
      <nav class="demo" style="position: absolute;">
        <a href="/" class="brand" style="margin-right: 20px; border-right: .5px solid #333;">TaskFocus</a>
        <div class="menu" style="float: left">
          {{#each userWalls}}
            <a href="/focus/{{accountID}}/{{this.ID}}" class="pseudo button">{{this.Name}}</a>
          {{/each}}
          <a onclick="prompt('Name the new wall:')" class="pseudo button">+ Add Wall</a>
        </div>
      </nav>
    {{/if}}
    {{{yield}}}
  </body>
</html>
