body{font-family: "Lato"; margin:0; padding: 0;}
#myKanban{padding:20px 0;}
.success{background: #00B961;}
.info{background: #2A92BF;}
.warning{background: #F4CE46;}
.error{background: #FB7D44;}
.kanban-drag{
  padding-right: 25px !important;
}
.kanban-board{
  border-radius: 3px;
}
.kanban-board header{
  border-bottom: .8px solid #aaa;
}
.kanban-board footer{
  padding: 0 15px 15px 15px;
}
.kanban-item {
  border-radius: 3px;
}
.kanban-add, .kanban-addboard-btn {
  padding: 15px;
  margin-bottom: 0;
  border-radius: 3px;
}
.kanban-add:hover, .kanban-addboard-btn:hover{
  background: #f9f9f9;
}
.kaban-card-title{
  font-size: 16px;
}
.kanban-add-textarea, .kanban-card-title-textarea{
  font-family: Lato;
  font-size: 16px;
  padding: 15px;
  margin-top: -1px;
  border-radius: 3px;
  border: 1px solid black;
  resize: vertical;
  overflow: visible;
}
.kanban-add-btn{
  margin-left: 2px;
}
.kanban-wall-name, .kanban-board-title, .kanban-card-title, .kanban-add{
  cursor: pointer;
}
