<div id="edit-modal" class="modal">
  <input id="edit-modal-btn" type="checkbox" />
  <label for="edit-modal-btn" class="overlay"></label>
  <article id="edit-modal-container" style="min-width: 60%;">
    <header>
      <h3>\{{title}}</h3>
      <label for="edit-modal-btn" class="close">&times;</label>
    </header>
    <section class="content">
      <b>Details:</b>
      <hr>
      <div id="kanban-card-details">
        <div v-html="cleanDetails(details)" style="white-space: pre-wrap;"></div>
        <small style="margin-top: 8px;"><i style="color: #aaa">(double click to edit)</i></small>
      </div>
      <div id="kanban-card-details-form"style="display: none;">
        <textarea :value="details" :defaultvalue="details" placeholder="Add details here..."></textarea>
        <br>
        <button type="submit">Save</button>
        <a class="cancel" style="font-size: 24px; float: right;">X</a>
      </div>
      <hr>
      <b>Checklist:</b>
      <hr>
      <div style="width: 90%; margin: auto;" >
        <div class ="kanban-card-task-form" style="position: relative;">
          <textarea placeholder="New checklist task..." style="padding-right: 100px;"></textarea>
          <button class="button btn-outline" style="position: absolute; top: 8px; right: 10px;">+</button>
        </div>
      </div>
      <hr>
      <div id="kanban-checklist-container">
        <div class="kanban-checklist-item-container" v-for="task in orderedTasks" :data-eid="task.id">
          <label class="kanban-checklist-item">
            <input type="checkbox" v-id="'task-'+task.id" v-model="task.checked">
            <span class="checkable" :class="{strikethrough: task.checked}">
              \{{task.details}}
            </span>
          </label>
          <button class="kanban-checklist-item-delete dangerous" style="float: right; font-size: 14pt; margin-top: -7px" v-show="task.checked">X</button>
        </div>
      </div>
    </section>
    <footer>
      <label for="edit-modal-btn" class="button dangerous">
        Close
      </label>
      <br><br>
    </footer>
  </article>
</div>
