<div id="edit-modal" class="modal">
  <input id="edit-modal-btn" type="checkbox" />
  <label for="edit-modal-btn" class="overlay"></label>
  <article style="min-width: 60%;">
    <header>
      <h3>\{{title}}</h3>
      <label for="edit-modal-btn" class="close">&times;</label>
    </header>
    <section class="content">
      <b>Details:</b>
      <div v-html="linkify(details)"></div>
      <hr>
      <textarea v-model="details" placeholder="Add details here..."></textarea>
      <hr>
      <b>Checklist:</b>
      <div v-for="task in tasks">
        <input type="checkbox" v-id="'task-'+task.id" v-model="task.checked">
        <label :for="'task-'+task.id">\{{task.details}}</label>
      </div>
    </section>
    <footer>
      <a class="button" href="#" style="float: right;" id="edit-modal-save">Save Changes</a>
      <label for="edit-modal-btn" class="button dangerous" style="float: left;">
        Cancel
      </label>
      <br><br>
    </footer>
  </article>
</div>
