<div id="edit-modal" class="modal">
  <input id="edit-modal-btn" type="checkbox" />
  <label for="edit-modal-btn" class="overlay"></label>
  <article id="edit-modal-container" style="min-width: 60%;">
    <header>
      <h3>\{{title}}</h3>
      <label for="edit-modal-btn" class="close">&times;</label>
    </header>
    <section class="content">
      <b>Details:</b>
      <div id="card-details" v-html="cleanDetails(details)"></div>
      <div id="card-details-form"style="display: none;">
        <textarea :value="details" :defaultvalue="details" placeholder="Add details here..."></textarea>
        <br>
        <button type="submit">Save</button>
        <a class="cancel" style="font-size: 24px; float: right;">X</a>
      </div>
      <hr>
      <b>Checklist:</b>
      <div v-for="task in tasks">
        <input type="checkbox" v-id="'task-'+task.id" v-model="task.checked">
        <label :for="'task-'+task.id">\{{task.details}}</label>
      </div>
    </section>
    <footer>
      <label for="edit-modal-btn" class="button dangerous">
        Close
      </label>
      <br><br>
    </footer>
  </article>
</div>
